@charset "utf-8";
/* CSS Document */

div#mainForm {
    position: absolute;
    width: 500px;
    height: auto;
    background-color: #0a5ed314;
    border: 3px solid #085cd1;
    border-radius: 5px;
    padding: 20px;
    top: 10%;
    left: 50%;
    margin-left: -250px;
    opacity: 0.9;
    padding-bottom: 50px;
}

div.mainLogo {
	text-align: center;
}

div#joinForm {
	text-align: center;
	margin-top: 70px;
}

div.join-item {
	position: relative;
    text-align: center;
}

p.join-label {
	position: absolute;
    left: 30px;
    font-weight: bold;
    color: #bbb;
}

input.join-input {
	width: 85%;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px 5%;
    margin-bottom: 40px;
}

.gender p {
	top: -18px;
	color: #085cd1;
}

.gender div {
	margin-left: -100px;
}

.join {
    width: 120px;
    height: 30px;
	font-weight: bold;
    font-size: 17px;
    color: white;
    background-color: #9ebfed;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin: 30px 20px 0 0;
}

.pull-right {
	float: right;
}

.formTop {top:-40px !important; left:10px !important;  padding:0 5px; font-size: 16px; font-weight:bold; color:#085cd1 !important;}

